<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>About Page</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, quod distinctio fugit magnam adipisci nihil culpa a minus dolore labore! A nesciunt dolore quam unde nobis delectus aliquid tempora facere?</p>
  </body>