---
import BaseLayouts from "../layouts/BaseLayouts.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const pageTitle = "Home";
---

<BaseLayouts pageTitle={pageTitle}>
  <h1>My website</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, quod distinctio fugit magnam adipisci nihil culpa a minus dolore labore! A nesciunt dolore quam unde nobis delectus aliquid tempora facere?</p>
</BaseLayouts>
