---
import BaseLayouts from "./BaseLayouts.astro";
const { frontmatter } = Astro.props;
---

<BaseLayouts pageTitle={ frontmatter.title }>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <slot />
</BaseLayouts>
